body {
  background-color: #fff2d9ff;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
}
header {
  position: relative;
  width: 100vw;
  top: 0;
}
.a1 {
  color: #fff2d9ff;
  text-decoration: none;
}

.nav {
  width: 100%;
  background-color: #171726;
  display: flex;
  align-items: center;
  padding: 10px;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
a{ text-decoration: none;
color: #fff2d9;
}
.nav > .nav-header > .nav-title {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
  
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li .a1 {
  text-decoration: none;
  color: #efefef;
}
.nav > #nav-check {
  display: none;
}

.a1:hover {
  color: #d99d62;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.a2 {
  color: #171726;
  text-decoration: none;
}

.nav2 {
  background: #dcbe8aff;
  white-space: nowrap;
  min-width: 100%;
  padding: 10px;
  justify-content: center;
  overflow-x: scroll;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.3, #804055),
    color-stop(0.7, #804055),
    color-stop(0.9, #804055)
  );
}
.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: inline-flex;
  min-width: 100%; /* Largura mínima igual à largura do viewport */
  flex-wrap: nowrap; /* Impede que os itens quebrem para a próxima linha */
}
.banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clivros {
  padding: 10px 10px;
  background-color: #dcbe8aff;
  font-size: 14px;
}
.tags {
  text-align: center;
  color: #171726;
}
.dstq {
  padding: 20px 20px;
}

.bt.btn.a2 {
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-table;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.bt.btn.a2:hover {
  color: #fff2d9;
  transition: all 0.3s ease-out;
}
.clp {
  background-color: #fff2d9ff;
}
.cont2 {
  padding: 0px 60px;
  display: flex;
}
.card {
  height: 0px;
}

.crd2 {
  height: 0.1px;
  width: 290%;
}

.dstq {
  padding: 25px 25px;
}

.produto {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.produtos {
  padding: 80px;
  padding-top: 160px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.produto :hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.produto p,
.a {
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  color: #171726;
  text-decoration: none;
}

.produto p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #d99d62;
  transition: all 0.3s ease-out;
}

.produto img {
  width: 200px;
  height: 300px;
}

#produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  margin-bottom: 70px;
}

footer {
  color: #fff2d9;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.logo {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
}

.footer_container {
  width: 100vw;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #171726;
}

.social_media {
  margin: 20px 50px;
}

.social_media a {
  color: #fff2d9;
  font-size: 24px;
  text-decoration: none;
}

.social_media a:hover {
  color: #d99d62;
  transition: all 0.3s ease-out;
}

i {
  cursor: pointer;
}

@media (min-width: 1444px) {
  #produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
  }
}

@media (min-width: 1039px) and (max-width: 1443px) {
  #produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
  }
}

@media (min-width: 616px) and (max-width: 1038px) {
  #produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
}

@media (max-width: 615px) {
  #produtos {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
  }
  .footer_container {
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 535px) {
  /* Estilos adicionais para telas muito pequenas, como smartphones em modo retrato */
  #text {
    font-size: 32px; /* Reduzir ainda mais o tamanho da fonte */
    /* Ajustar ainda mais o espaçamento superior */
  }

  .subt {
    font-size: 12px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
    position: fixed;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > .span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff2d9;
  }
  .nav > .nav-btn:hover > label > .span {
    transition: all 0.3s ease-in;
    cursor: pointer;
    border-top: 2px solid #d99d62;
  }
  .a1:hover {
    transition: all 0.3s ease-in;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #171726;
    height: 0;
    transition: all 0.3s ease-in;
    top: 53px;
    left: 0;
    overflow: hidden;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}
