* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  cursor: default;
}

html {
  height: 100vh;
}

body {
  background-image: url(../Imgs_site/logincadastrobk.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #fff2d9;
  text-decoration: none;
}

.nav {
  background-color: #171726;
  display: flex;
  align-items: center;
  padding: 10px;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
}
.nav > #nav-check {
  display: none;
}

.a1:hover {
  color: #d99d62;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(../Imgs_site/logincadastrobk.png) no-repeat center center;
  background-size: cover;
}

.card {
  background-color: #d99d62;
  border-radius: 4%;
  padding: 30px;
  width: 420px;
  height: 400px;
  box-shadow: 3px 3px 10px 0px #000000;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #171726;
}

.lablef input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
  color: #171726;
  cursor: pointer;
}
input:hover{
  color: #804055;
  transition: all 0.3s ease-out;
}
.lablef:focus{
  color: #804055;
  transition: all 0.3s ease-out;
}
.lablef {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #171726;
}
.lablef input:focus {
  border-bottom: 2px solid #171726;
}
.lablef .label2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.1s ease-out;
  color: #171726;
}
.lablef input:focus + .label2,
.lablef input:valid + .label2 {
  font-size: 13px;
  margin-top: 0;
}

button {
  background-color: transparent;
  padding: 8px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #804055;
}

button:hover {
  background-color: #171726;
  color: #fff2d9;
  transition: all 0.3s ease-out;
}

.justify-center {
  display: flex;
  justify-content: center;
}
.Shelf {
  color: #fff2d9;
  font-size: medium;
  margin: 0;
}
p {
  color: #171726;
  font-size: 26px;
  text-align: center;
  padding-top: 30px;
}

.a2 {
  color: #804055;
  text-decoration: none;
}

.a2:hover {
  color: #fff2d9;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
#msgError {
  text-align: center;
  color: #ff0000;
  padding: 10px;
  border-radius: 4px;
  display: none;
}footer {
  color: #fff2d9;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.logo {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
}

.footer_container {
  width: 100vw;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #171726;
}

.social_media {
  margin: 20px 50px;
}

.social_media a {
  color: #fff2d9;
  font-size: 24px;
  text-decoration: none;
}

.social_media a:hover {
  color: #d99d62;
  transition: all 0.3s ease-out;
}

i {
  cursor: pointer;
}
@media (max-width: 480px) {
  .card {
    width: 240px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 280px;
  }

  p {
    font-size: 20px;
  }

  button {
    font-size: 16px;
  }
  .footer_container {
    flex-direction: column;
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .card {
    width: 320px;
  }

  p {
    font-size: 22px;
    padding-top: 10px;
  }

  button {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 360px;
  }

  p {
    font-size: 28px;
  }

  button {
    font-size: 24px;
  }
}

@media (max-width: 535px) {
  /* Estilos adicionais para telas muito pequenas, como smartphones em modo retrato */
  #text {
    font-size: 32px; /* Reduzir ainda mais o tamanho da fonte */
    /* Ajustar ainda mais o espaçamento superior */
  }

  .subt {
    font-size: 12px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > .label {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  .nav > .nav-btn > .label > .span {
    display: block;
    width: 25px;
    height: 8px;
    border-top: 2px solid #fff2d9;
  }
  .nav > .nav-btn:hover > .label > .span {
    transition: all 0.3s ease-in;
    cursor: pointer;
    border-top: 2px solid #d99d62;
  }
  .a1:hover {
    transition: all 0.3s ease-in;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #171726;
    height: 0;
    transition: all 0.3s ease-in;
    top: 53px;
    left: 0;
    overflow: hidden;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.3, #804055),
    color-stop(0.7, #804055),
    color-stop(0.9, #804055)
  );
}
/* Outras media queries podem ser adicionadas para estilos específicos em tamanhos de tela diferentes */
