body {
  overflow: hidden;
}

html,
body {
  min-height: 300vh;
  overflow-x: hidden;
  background-color: #fff2d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
}

a {
  color: #fff2d9;
  text-decoration: none;
}

.logo {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header {
  position: fixed;
  width: 100vw;
}

.nav {
  width: 100%;
  background-color: #171726;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}

.nav > .nav-header > .nav-title {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
}

.nav > .nav-list {
  display: flex;
  gap: 2rem;
}

.nav > .nav-list > li {
  list-style-type: none;
}

.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
}

.nav > #nav-check {
  display: none;
}

.a1:hover {
  color: #d99d62;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text {
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: bottom;
  color: #171726;
  font-size: 73px;
  letter-spacing: 4px;
}

.la {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.subt {
  color: #171726;
  font-size: 20px;
  text-align: center;
}

.la2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.bt {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  padding: 11px 30px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn {
  background: #804055;
  color: #171726;
}

.btn:hover {
  background: #171726;
  color: #804055;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.la4 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 24px;
}

.sbr {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../Imgs_site/Home.png") no-repeat center center;
  background-size: cover;
  height: 90vh;
}

.indsbr {
  background: url("../Imgs_site/Home.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #804055;
}

.titulo {
  color: #171726;
  padding: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  font-size: 30px;
  letter-spacing: 4px;
}

.conteudo {
  display: flex;
  color: #171726;
  text-align: left;
  flex: 1;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conteudo1 {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100vw;
}
.conteudo2 {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100vw;
}

.conteudo3 {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}

.imagem {
  display: flex;
  flex: 1;
  justify-content: center;
}

.imagem2 {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 50px;
}

.tdimg {
  width: 360px;
  height: 360px;
  border-radius: 20px;
  padding: 2px;
  background-color: #171726;
}

.ct_btm {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.box {
  width: 70%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
}

.tbll {
  margin-top: 5%;
  text-align: center;
}

.blla {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 18px;
}

.sbm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171726;
  background-color: #804055;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.sbm:hover {
  color: #804055;
  background-color: #171726;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

footer {
  color: #fff2d9;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.logo {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff2d9;
}
.Sobre{
  font-size: 20px;
  text-align: center;
  width: 50vw;
}
.footer_container {
  width: 100vw;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #171726;
}

.social_media {
  margin: 20px 50px;
}

.social_media a {
  color: #fff2d9;
  font-size: 24px;
  text-decoration: none;
}

.social_media a:hover {
  color: #d99d62;
  transition: all 0.3s ease-out;
}

i {
  cursor: pointer;
}

.contods {
  display: flex;
  color: #171726;
  text-align: left;
  flex: 1;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ods {
  font-size: 24px;
  font-weight: lighter;
  color: #fff2d9;
}

.nods {
  font-size: 90px;
  font-weight: normal;
  color: #fff2d9;
}

.edu {
  font-size: 40px;
  font-weight: bold;
  color: #fff2d9;
}

.ct {
  font-size: 25px;
  padding-top: 20px;
  color: #fff2d9;
}

.odslink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 25px;
}

.odslink:hover {
  color: #d99d62;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  .navlist {
    flex-direction: column;
    text-align: center;
  }

  .navlist a {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #text {
    font-size: 42px;
  }

  .subt {
    font-size: 15px;
  }

  .footer_container {
    flex-direction: column;
    padding: 10px;
  }

  .conteudo {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
  }

  .contods {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
  }

  .tdimg {
    width: 300px;
    height: 300px;
  }

  .titulo {
    font-size: 25px;
    text-align: center;
  }

  .sbm {
    width: 150px;
    height: 45px;
  }

  .ods {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
  }

  .nods {
    font-size: 70px;
    font-weight: normal;
    text-align: center;
  }

  .edu {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .ct {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
  }

  .odslink {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
  }

  .conteudo2 {
    flex-direction: column-reverse;
  }

  .conteudo3 {
    flex-direction: column-reverse;
  }

  .ct_btm {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 535px) {
  #text {
    font-size: 32px;
  }

  .subt {
    font-size: 12px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > .span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff2d9;
  }

  .nav > .nav-btn:hover > label > .span {
    transition: all 0.3s ease-in;
    cursor: pointer;
    border-top: 2px solid #d99d62;
  }

  .a1:hover {
    transition: all 0.3s ease-in;
  }

  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #171726;
    height: 0;
    transition: all 0.3s ease-in;
    top: 53px;
    left: 0;
    overflow: hidden;
  }

  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }

  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }

  .conteudo {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }

  .contods {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }

  .tdimg {
    width: 200px;
    height: 200px;
  }

  .titulo {
    font-size: 20px;
    text-align: center;
  }

  .sbm {
    width: 100px;
    height: 40px;
  }

  .ods {
    padding-top: 20px;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
  }

  .nods {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
  }

  .edu {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .ct {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
  }

  .odslink {
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
  }

  .conteudo2 {
    flex-direction: column-reverse;
  }
  .conteudo3 {
    flex-direction: column-reverse;
  }

  .ct_btm {
    align-items: center;
    justify-content: center;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.3, #804055),
    color-stop(0.7, #804055),
    color-stop(0.9, #804055)
  );
}
